body {
    font-size: 62.5%;
}

div {
    width: 200px;
    height: 200px;
    border: 10px solid #bd1212;
    margin: 30px;
    padding: 5px;
    outline: 5px dashed green;
    outline-offset: 5px;
    color: orange;
    text-align: justify;
    /* position: relative; */
    float: left;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    /* font: 100% Tahoma; */
    font-size: 1.5em;
}

div:hover {
    background-color: gray;
    cursor: progress;
}

#d2 {
    direction: rtl;
    unicode-bidi: bidi-override;
    font-size: 1.6em;
}

p {
    border: 1px solid red;
    /* position: absolute;
    top:50;
    left:0;
    right:0; */
    text-decoration: underline;
    text-transform: none;
    text-indent: 1.27cm;
    letter-spacing: 0px;
    line-height: 25px;
    word-spacing: 5px;
    /* text-shadow: 2px 2px 1px yellow; */
    font-style: italic;
    font-weight: 900;
    font-variant: small-caps;
}

a {
    text-decoration: none;
    padding: 10px;
    display: block;
}

li a {
    font-size: 120%;
}

a:link,
a:visited,
a:active {
    color: blue;
}

a:hover {
    color: white;
    background-color: green;
}

.btn {
    font-size: 100%;
    padding: 15px 20px;
    background-color: lightcoral;
    color: white !important;
    border-radius: 3px;
    display: inline-block;
}

.btn:hover {
    background-color: red;
}

.btn-success {
    background-color: mediumseagreen;
}

#menulist ul {
    border: 1px solid black;
    list-style-type: none;
    list-style-position: outside;
    /* list-style-image: url(images/sqpurple.gif); */
    margin: 0px;
    padding: 0px;
}

#menulist ul li {
    border-bottom: 1px dotted black;
    border-left: 1px dotted black;
}