*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
}

html,
body {
    font-family: 'Courier New', Courier, monospace;
}

input {
    padding: 5px;
    border-radius: 2px;
    outline: none;
    border: none;
}

.btn {
    text-decoration: none;
    color: black;
    padding: 3px 10px;
    border-radius: 3px;
}

.btn:hover {
    background-color: darkgray;
}

.btn-success {
    background-color: #27ae60;
    color: white
}

.btn-success:hover {
    background-color: #2ecc71;
}

.btn-danger {
    background-color: #c0392b;
    color: white
}

.btn-danger:hover {
    background-color: #e74c3c;
}

.btn-warning {
    background-color: yellow;
    color: grey
}

.btn-warning:hover {
    background-color: yellowgreen;
}

.d-none {
    display: none;
}

.table {
    width: 100%;
}

.table,
tr,
td {
    padding: 7px;
}

.table-bordered,
tr,
td {
    border: 1px solid grey;
    border-collapse: collapse;
}

ul {
    list-style: none;
}

.sent {
    background-color: #2ecc71;
    color: white;
    text-align: right;
}

.inbox {
    background-color: seagreen;
    color: white;
    text-align: left;
}